/* import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,200italic,700italic); */

html {
  height: 100%;
}

body {
  height: 100%;
/*   font-family: "Source Sans Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif"; */
/*   font-weight: 300; */
/*   font-size: 24px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
}

.navbar {
  text-transform: uppercase;
}

.navbar-inverse {
  border-bottom: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #ef4923;
}

.container-full-height {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100%;
  height: auto;
}

/*
.container-align-middle {
  display: table;
}

.container-align-middle > .row {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
 */

#copyright {
  padding-top: 20px;
  padding-bottom: 10px;
}
